.number-list {
    list-style-type: decimal;
}

.slider {
    width: 100%;
    max-width: 1000px;
}

.slides {
    background: #ccc;
}

.slide {
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 465px;
    outline: 0 !important;
    color: #ccc;
    font-size: 40px;
}

@media only screen and (max-width: 760px) {
    .slide {
        height: 190px;
    }
}

.controls {
    display: flex;
    width: 100%;
}

.captions {
    flex: 1;
    width: 50px;
    padding-top: 10px;
    margin-top: 2px;
    color: #7b7b7b;
    background: #fff;
    height: 45px;
}

.caption {
    outline: 0 !important;
}

.pagination {
    display: flex;
    margin-top: 2px;
}

.pagination__button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    background: #fff;
    width: 45px;
    height: 45px;
    margin-left: 2px;
}

.pagination__button:hover {
    color: #fff;
    background: #2aa1c0;
}

.pagination__button.slick-disabled {
    cursor: not-allowed;
    background: #ccc;
    color: #fff;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }

    50% {
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.faa-pulse.animated,
.faa-pulse.animated-hover:hover,
.faa-parent.animated-hover:hover > .faa-pulse {
    -webkit-animation: pulse 2s linear infinite;
    animation: pulse 2s linear infinite;
}

/*h3 background line*/
h3.background {
    position: relative;
    z-index: 1;
}
h3.background:before {
    border-top: 1px solid #dfdfdf;
    content: "";
    margin: 0 auto;
    /* this centers the line to the full width specified */
    position: absolute;
    /* positioning must be absolute here, and relative positioning must be applied to the parent */
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    z-index: -1;
}
h3.background span {
    /* to hide the lines from behind the text, you have to set the background color the same as the container */
    background: #f6f8fa;
    padding: 0 15px;
}

.bg-sakura {
    background: url("/2017love/img/sakura.png") repeat left top;
}

.bg-top {
    background: url("/2017love/img/bg.jpg") top center no-repeat #d7e77c;
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .pb-md-11 {
        padding-bottom: 11rem !important;
    }
}

.bg-home-green {
    background: #d7e77c;
}

.bg-card-pink {
    background: #fdf9e5;
}